{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">

        <div class="row">
            <div class="col-6">
                <img src="{{ ship.image.url }}" class="ship-image" alt=""/>
            </div>
            <div class="col-6 d-flex flex-md-column gap-md-3">

                <h1>{{ ship.name }}</h1>

                <span>Описание: {{ ship.description }}</span>

                <span>Дата изготовления: {{ ship.production_date }}</span>

                <a href="/" class="return-btn btn btn-primary my-4 w-25">
                    Назад
                </a>

            </div>
        </div>

    </main>
{% endblock content %}